body {
  font-family: Arial, sans-serif;
  background-color: #ac8e07;

}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

label {
  font-size: 18px;
  margin-right: 10px;
}

input[type="text"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-right:  10px;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* */

.container{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10rem;
  margin-right: 10rem;
  border: 2px solid #090909;
  
}

h3{
  text-align: center;
}

#weather {
  margin-top: 30px;
  font-size: 24px;
}

#icon {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#details {
  font-size: 1.5rem;
  text-align: center;
}

/* .spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  
} */

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}