body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

label {
  font-size: 18px;
  margin-right: 10px;
}

input[type="text"] {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-right:  10px;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="reset"] {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

#weather {
  margin-top: 30px;
  font-size: 24px;
}

#icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

#details {
  font-size: 1.5rem;
}